.welcome {
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.title {
		margin-bottom: 41px;
	}

	.subtitle {
		max-width: 558px;
		margin-bottom: 26px;
	}

	.text {
		max-width: 658px;

		span {
			display: block;
			padding-top: 30px;
		}
	}
}

.team-score {

	.title {
		margin-bottom: 22px;
	}

	.text {
		margin-bottom: 61px;
	}
}

.cards {
	&__items {
		display: flex;
	}

	&__item {
		display: flex;
		position: relative;
		flex-direction: column;
		align-items: center;
		padding: 0 40px;
		flex: 0 0 33.33%;

		&:not(:last-child)::after {
			content: '';
			position: absolute;
			right: -4px;
			top: 50px;
			transform: rotate(-135deg);
			width: 16px;
			height: 16px;
			border-bottom: 2px solid #B3B3B3;
			border-left: 2px solid #B3B3B3;
		}
	}

	&__img {
		position: relative;
		margin-bottom: 38px;
	}

	&__title {
		margin-bottom: 20px;
	}

	&__text {
		&.text {
			margin-bottom: 0;
		}
	}
}

.more {
	background-image: url('./../images/index/more_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 0 200vw rgba(0, 0, 0, .7);
	margin: 0;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 206px 0 110px;
	}

	.title {
		color: #fff;
		margin-bottom: 40px;
	}

	.text {
		color: #fff;
		margin-bottom: 74px;
		max-width: 720px;
	}
}

.steps {
	&__item {
		&::after {
			top: unset !important;
			bottom: 55px;
		}
	}
}

.webinar {

	&__title {
		margin-bottom: 26px;
	}

	&__text {
		margin-bottom: 66px;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		padding: 0 20px;
		margin-bottom: 40px;
	}

	&__video {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		display: block;
		margin-bottom: 27px;
		background-color: #242424;
		width: 100%;

		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}

		video {
			width: 100%;
			height: 100%;
		}
	}

	&__play {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		cursor: pointer;
		z-index: 2;
	}

	&__number {
		color: #FF5200;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	&__name {
		text-align: center;
		font-size: 21px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 27px;
	}

	&__btn {
		color: #fff;

		&:hover {
			color: #fff;
		}
	}
}

.tabs {
	&__head {
		display: flex;
		justify-content: space-between;
		margin-bottom: 32px;
	}

	.tab {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		color: #727272;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 32px;
		padding-bottom: 13px;
		text-align: center;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			width: 100%;
			background: #727272;
		}

		&--active {
			color: #FF5200;

			&::after {
				background: #FF5200;
			}
		}

		&__content {
			display: flex;
		}

		&__col {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 33.33%;

			&:nth-child(2) {
				margin: 0 70px;
			}
		}

		&__info {
			&-top {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			&-rating {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background-image: url('./../images/rating/circle.svg');
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				text-transform: uppercase;
				width: 130px;
				height: 130px;
				margin-bottom: 34px;
				text-align: center;

				span {
					font-size: 24px;
					font-style: normal;
					font-weight: 500;
				}

				&--orange {
					background-image: url('./../images/rating/circle_orange.svg');
					color: #FF5200;
				}
			}

			&-value {
				font-size: 21px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				text-align: center;
				max-width: 191px;
				margin-bottom: 32px;

				p,
				span {
					font-size: 21px;
					font-weight: 700;
				}
			}
		}
	}
}

.position {
	width: 100%;
	border-collapse: collapse;

	&__item {
		td {
			padding: 20px 0;

			&:first-child {
				padding-left: 13px;
				padding-right: 10px;
			}

			&:last-child {
				padding-left: 10px;
				padding-right: 13px;
			}
		}

		border-bottom: 1px solid #FF5200;

		&:last-child {
			border: none;
		}

		&--active {
			background-color: #FF5200;
			;
		}
	}

	&__number {
		// width: 30px;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
	}

	&__name {
		// width: 180px;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-align: left;
	}

	&__score {
		// width: 120px;
		text-align: right;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: 24px;
		/* 133.333% */
	}
}

.winners {
	&__title {
		margin-bottom: 65px;
	}

	&__country,
	&__region {
		margin-bottom: 80px;
	}

	&__text {
		font-size: 28px;
		font-style: normal;
		font-weight: 300;
		line-height: 40px;
		/* 142.857% */
		margin-bottom: 86px;
	}

	&__items {
		display: flex;
		justify-content: center;
		gap: 110px;
	}

	&__item {
		text-align: center;
	}

	&__img {
		margin-bottom: 41px;
	}

	&__place {
		color: #FF5200;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	&__firstname,
	&__lastname {
		font-size: 21px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}

.main {

	&__title {
		margin-bottom: 70px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		gap: 15px;
		margin-bottom: 80px;
	}

	&__col {
		width: 460px;

		&+.prize {
			.prize__webinar {
				margin-bottom: 80px;
			}
		}
	}

	&__item {
		&-personal {
			max-width: 460px;
			width: 100%;
		}

		&-title {
			color: #FF5200;
			font-size: 21px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-transform: uppercase;
			margin-bottom: 31px;
		}
	}

	&__table {
		width: 100%;
		border-collapse: collapse;
	}

	&__tr {
		&:nth-child(odd) {
			background-color: #F6F6F6;
		}
	}

	&__thead {
		.main__tr {
			background-color: transparent;
		}
	}

	&__th {
		font-size: 12px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		height: 60px;
		padding: 0 18px;
		text-align: left;
		vertical-align: top;
	}

	&__td {
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: 24px;
		height: 60px;
		padding: 0 18px;

		/* 133.333% */
		&-bold {
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			max-width: 175px;
		}
	}

	&__position {
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
		padding: 0 5px 0 18px;
	}

	&__value {
		padding: 0 18px 0 5px;
	}

	&__download {
		&--hide {
			display: none;
		}

		a {
			color: #FF5200;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-transform: uppercase;
		}
	}
}

.prize {
	&__col {
		width: 560px;
	}

	&__webinar {
		.main {

			&__th,
			&__td {
				&:nth-child(1) {
					padding: 0 5px 0 18px;
				}

				&:nth-child(2) {
					padding: 0 5px 0 5px;
				}

				&:nth-child(1n+3) {
					padding: 0 5px 0 5px;
				}
			}
		}
	}

	&__step {
		.main {

			&__th,
			&__td {

				&:nth-child(1) {
					padding: 0 16px 0 18px;
				}

				&:nth-child(2) {
					width: 73px;
				}

				&:nth-child(1n+2) {
					padding: 0 8px;
				}
			}
		}
	}
}

.audit {

	&__title {
		margin-bottom: 26px;
	}

	&__text {
		max-width: 936px;
		margin: 0 auto;
	}
}

.info__sto {
	.cards {
		&__item {
			position: relative;
			padding: 0 25px;

			&::after {
				display: none;
			}

			&:last-child {
				align-items: center;
				justify-content: center;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 352px;
					height: 352px;
					border: 3.36px solid #FF5200;
					border-radius: 100%;
				}
			}
		}
	}
}

.info__atp {
	.cards {
		&__item {
			position: relative;
			padding: 0 25px;

			&::after {
				display: none;
			}
		}
	}
}

.super {
	&__title {
		margin-bottom: 26px;
	}

	&__text {
		margin-bottom: 85px;
	}

	&__grid {
		display: grid;
		gap: 52px 72px;

		.super__item {
			&:nth-child(1) {
				display: flex;
				align-items: center;
				gap: 20px;
				grid-column: 1/2;
				grid-row: 1/2;
			}

			&:nth-child(2) {
				display: flex;
				align-items: center;
				gap: 20px;
				grid-column: 1/2;
				grid-row: 2/3;
			}

			&:nth-child(3) {
				grid-column: 2/3;
				grid-row: 1/4;
			}

			&:nth-child(4) {
				grid-column: 3/4;
				grid-row: 1/4;
			}
		}
	}

	&__item {

		&-text {
			font-size: 21px;
			font-style: normal;
			font-weight: 300;
			line-height: normal;

			span {
				font-weight: 700;
			}
		}

		&-title {
			font-size: 21px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			margin-bottom: 14px;
		}

		&-list {
			li {
				font-size: 18px;
				font-style: normal;
				font-weight: 300;
				line-height: 40px;
				/* 222.222% */
			}
		}
	}
}

.stage {
	&__title {
		margin-bottom: 11px;
	}

	&__subtitle {
		margin-bottom: 21px;
	}

	&__text {
		max-width: 770px;
		margin: 0 auto 58px auto;
	}

	&__row {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 157px;

		&::before {
			content: '';
			position: absolute;
			top: 36px;
			left: 50%;
			transform: translateX(-50%);
			width: 435px;
			height: 2px;
			background-image: url('./../images/education/sale/line.svg');
			z-index: -1;
		}
	}

	&__col {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__number {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #FFF;
		font-size: 50px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		width: 72px;
		height: 72px;
		background-color: #FF5200;
		border-radius: 100%;
		margin-bottom: 15px;
	}

	&__name {
		color: #FF5200;
		font-size: 21px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		margin-bottom: 7px;
	}

	&__date {
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}

.sale {
	background-image: url('./../images/education/sale/sale_bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 82px 0 61px 0;

	&__content {
		text-align: center;
	}

	&__img {
		margin: 0 auto 42px auto;
	}

	&__date {
		color: #FF5200;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		margin-bottom: 16px;
	}

	&__subtitle {
		color: #FFF;
		font-size: 26px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px;
		/* 123.077% */
		max-width: 720px;
		margin: 0 auto;

		span {
			color: #FF5200;
		}
	}
}

.rules {
	&__title {
		margin-bottom: 19px;
	}

	&__text {
		max-width: 410px;
		margin: 0 auto 35px auto;
	}

	&__subtitle {
		color: #FF5200;
		text-align: center;
		font-size: 26px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px;
		/* 123.077% */
		margin-bottom: 22px;
	}

	&__row {
		display: flex;
		gap: 40px;
		justify-content: center;
	}

	table {
		max-width: 400px;
		width: 100%;
	}

	thead {
		tr {
			background-color: transparent;
		}
	}

	tr {
		height: 60px;

		&:nth-child(even) {
			background-color: #F6F6F6;
		}
	}

	th {
		font-size: 12px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		text-align: left;
		vertical-align: top;
		padding: 20px;

		&:last-child {
			text-align: right;
			max-width: 190px;
			padding-left: 0;
		}
	}

	td {
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;

		/* 133.333% */
		padding: 20px;

		&:last-child {
			text-align: right;
			font-size: 18px;
			font-style: normal;
			font-weight: 300;
			line-height: 24px;
			padding-left: 0;
			text-transform: lowercase;
		}
	}
}

.bonus {
	&__title {
		margin-bottom: 26px;
	}

	&__text {
		margin-bottom: 106px;
	}

	&__cards {
		.cards {
			&__item {
				&::after {
					top: 220px;
				}
			}
		}
	}
}

.cert {
	&__title {
		margin-bottom: 92px;
	}

	&__cards {
		.cards {
			&__item {
				&::after {
					display: none;
				}

				a {
					color: #FF5200;
					text-decoration-line: underline;
				}
			}
		}
	}
}

.instruction {
	&__title {
		text-align: center;
		font-size: 34px;
		font-style: normal;
		font-weight: 300;
		line-height: 40px;
		/* 117.647% */
		margin-bottom: 80px;
	}

	&__list {
		max-width: 610px;
		margin: 0 auto 20px auto;

		li {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 10px;
			font-size: 18px;
			font-style: normal;
			font-weight: 300;
			line-height: 24px;

			/* 133.333% */
			&:not(:last-child) {
				margin-bottom: 24px;
			}

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 0 0 20px;
				top: 2px;
				position: relative;
				background-color: #FF5200;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				color: #fff;
				font-size: 14px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}
	}

	&__note {
		max-width: 610px;
		margin: 0 auto 20px auto;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: 24px;
		/* 133.333% */
	}
}

.fund {
	&__title {
		margin-bottom: 26px;
	}

	&__text {
		margin-bottom: 24px;
	}

	&__prizes {
		margin-bottom: 60px;

	}

	&__prize {
		display: flex;
		align-items: center;
		padding: 35px 23px;

		&:nth-child(odd) {
			background-color: #F5F4F3;
		}

		&-text {
			flex: 0 0 50%;
			font-size: 18px;
			font-style: normal;
			font-weight: 300;
			line-height: 24px;
			/* 133.333% */

		}
	}

	&__place {
		flex: 0 0 20%;
		color: #FF5200;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
	}

	&__images {
		display: flex;
		justify-content: center;
		flex: 0 0 30%;
		gap: 18px;
	}

	&__img {
		max-width: 115px;
		width: 100%;
	}

	&__btn {
		text-align: center;
	}
}

.front {
	.sub-title {
		font-size: 32px;
		line-height: 40px;
	}

	h1 {
		font-size: 80px;
		line-height: 1.02;
	}
}